* {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.Speech {
  width: 50px;
}
.group {
  margin: 4px 0;
  display: flex;
  justify-content: center;
}
textarea {
  width: 70%;
  padding: 5px 10px;
  border: 1px solid rgb(214, 134, 134);
  outline: none;
  border-radius: 3px;
  border-radius: 8px;
}
button {
  width: 70%;
  display: block;
  padding: 10px 22px;
  color: rgb(46, 45, 45);
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  background: rgb(233, 181, 181);
}
h2 {
  margin-bottom: 10px;
  text-align: center;
  color: rgb(231, 117, 117);
}
